/* 
.rsvp-form {
    max-width: 400px;
}

.form-group {
    margin-bottom: 10px;
}

.form-input {
    margin-left: 10px;
    color: #000000;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 5px;
    height: 20px;
}

.form-select {
    margin-left: 10px;
    color: #000000;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.feedback {
    margin-top: 10px;
    font-style: italic;
} */